
{% extends "index.html" %}
{% block content %}

<article>
    <h3>{{ bom }}</h3>
        <table class="bom">
                 <tr>
                    <td>Поз</td>
                    <td>Наименование</td>
                    <td>Кол</td>
                </tr>
            {% for component in components|dictsort:"annotation" %}
                <tr>
                    <td>{{ component.annotation}}</td>
                    <td>{{ component.name}}</td>
                    <td>{{ component.count}}</td>
                </tr>
            {% endfor %}

        </table>
    </article>

{% endblock %}