{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCBs</title>
    <link rel="stylesheet" href={% static "base.css"%}>
</head>
<body>
{% block menu %}
    <nav>
        <ul class="flex">
            <li><a href="{% url 'index' %}"> PCBs </a></li>
            <li><a href="{% url 'components' %}"> Components </a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    {% for pcb in pcbs %}
        <article>
        <h3>{{ pcb }}</h3>
            {% for bom in pcb.bom_set.all %}
                <div class="block">
                    <div>{{ bom }}</div>
                    <div>
                        <a href="{% url 'bom_detail' id=bom.id %}" > Show detail</a>
                    </div>
                </div>
            {% endfor %}
        </article>
    {% endfor %}
{% endblock %}
</body>
</html>