{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCBs</title>
    <link rel="stylesheet" href={% static "base.css" %}>
</head>
<body>
{{ dir }}
{% block menu %}
    <nav>
        <ul class="flex">
            <li><a href="{% url 'index' %}"> PCBs </a></li>
            <li><a href="{% url 'components' %}"> Components </a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    {% for pcb in pcbs %}
        <article>
            <div class="block">
                <a href="{% url 'pcb_detail' id=pcb.id %}"> {{ pcb }}</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}
</body>
</html>