{% extends "base.html" %}
{% load static %}

{% block content %}

    <article>
        <table>
            {% for capacitor in capacitors %}
                <tr>
                    <td>
                        <a href="{% url 'component:capacitor_detail' id=capacitor.id %}"> {{ capacitor.name }} </a>
                    </td>
                    <td>
                        {{ capacitor.footprint }}
                    </td>
                    <td>
                        {{ capacitor.value }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>

{% endblock %}