{% extends 'index.html' %}
{% block content %}
<body>
    {% block image %}
        {% load static %}
        <img class="previews" src="{%static el.image.url%}">
    {% endblock %}

    {% block parameters %}
        {{ el }}
    {% endblock %}

    {% block used_in %}
        <h3>Used in:</h3>
        {% for bom in boms|dictsort:"name"  %}
            <div>
            <a href="{%  url 'pcb_detail' id=bom.bom.pcb.id %}" >{{ bom.bom.pcb }}</a> at BOM {{ bom.bom.description }}
            count: {{ bom.count }}
            </div>
        {% endfor %}
    {% endblock %}


</body>
{% endblock %}